main {
  width: 50%;
  margin: auto;
}

main * {
  margin: 8px 0px;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form select {
  padding: 8px;
  border-radius: 8px;
}

form textarea {
  height: 150px;
  padding: 8px;
}
